<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video Management Service</title>
    <!-- Include hls.js from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <style>
        video {
            width: 100%; /* This will make the video player take up all the horizontal space of its container */
            max-width: 640px; /* You can set a max-width to ensure it doesn't get too large on bigger screens */
            height: auto; /* This will maintain the aspect ratio of the video */
        }
    </style>
</head>
<body>
    <h1>Hello Jenkins</h1>
    <h1>Video Management</h1>

    <h2>Upload a Video</h2>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Available Videos</h2>
    <ul>
        {% for video in videos %}
            <video id="video_{{ loop.index }}" controls></video>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var video = document.getElementById('video_{{ loop.index }}');
                    var videoSrc = "{{ url_for('video', filename=video) }}";
                    if (Hls.isSupported()) {
                        var hls = new Hls();
                        hls.loadSource(videoSrc);
                        hls.attachMedia(video);
                        hls.on(Hls.Events.MANIFEST_PARSED, function() {
                            video.play();
                        });
                    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                        video.src = videoSrc;
                        video.addEventListener('loadedmetadata', function() {
                            video.play();
                        });
                    }
                });
            </script>
        {% endfor %}
    </ul>
</body>
</html>
