<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video Management Service</title>
    <!-- Include hls.js from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
    <h1>Video Management</h1>

    <h2>Upload a Video</h2>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Available Videos</h2>
    <ul>
        {% for video in videos %}
            <li>
                {{ video }}
                - <a href="{{ url_for('video', filename=video) }}">View</a>
                - <a href="{{ url_for('delete_file', filename=video) }}">Delete</a>
                <br>
                <video id="video_{{ loop.index }}" controls></video>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var video = document.getElementById('video_{{ loop.index }}');
                        var videoSrc = "{{ url_for('video', filename=video) }}";
                        if (Hls.isSupported()) {
                            var hls = new Hls();
                            hls.loadSource(videoSrc);
                            hls.attachMedia(video);
                            hls.on(Hls.Events.MANIFEST_PARSED, function() {
                                video.play();
                            });
                        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                            video.src = videoSrc;
                            video.addEventListener('loadedmetadata', function() {
                                video.play();
                            });
                        }
                    });
                </script>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
